In [1]:
import numpy as np
import pandas as pd
import datetime

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [2]:
!ls ./input

dataAll.csv		      Divvy_Trips_2016_Q3Q4.zip  README_2016_Q3.txt
Divvy_Stations_2016_Q3.csv    Divvy_Trips_2016_Q4.csv	 README_2016_Q4.txt
Divvy_Stations_2016_Q4.csv    Divvy_Trips_2017_Q1.csv	 README.txt
Divvy_Stations_2017_Q1Q2.csv  Divvy_Trips_2017_Q1Q2	 weatherData.csv
Divvy_Trips_2016_Q3.csv       Divvy_Trips_2017_Q1Q2.zip
Divvy_Trips_2016_Q3Q4	      Divvy_Trips_2017_Q2.csv

I just use one year data from 2016 Q3 to 2017 Q2.

In [3]:
%%time
df_trip_16Q3 = pd.read_csv("./input/Divvy_Trips_2016_Q3.csv").rename(columns={'starttime':'start_time', 'stoptime':'end_time'})
print(df_trip_16Q3.shape)
df_trip_16Q4 = pd.read_csv("./input/Divvy_Trips_2016_Q4.csv").rename(columns={'starttime':'start_time', 'stoptime':'end_time'})
print(df_trip_16Q4.shape)
df_trip_17Q1 = pd.read_csv("./input/Divvy_Trips_2017_Q1.csv")
print(df_trip_17Q1.shape)
df_trip_17Q2 = pd.read_csv("./input/Divvy_Trips_2017_Q2.csv")
print(df_trip_17Q2.shape)
df_station_16Q3 = pd.read_csv("./input/Divvy_Stations_2016_Q3.csv").sort_values(['id'])
df_station_16Q3.index = range(df_station_16Q3.shape[0])
df_station_16Q4 = pd.read_csv("./input/Divvy_Stations_2016_Q4.csv").sort_values(['id'])
df_station_16Q4.index = range(df_station_16Q4.shape[0])
df_station_17Q1Q2 = pd.read_csv("./input/Divvy_Stations_2017_Q1Q2.csv").drop(['city'], axis=1).sort_values(['id'])
df_station_17Q1Q2.index = range(df_station_17Q1Q2.shape[0])

(1441811, 12)
(683832, 12)
(431691, 12)
(1119814, 12)
CPU times: user 5.18 s, sys: 497 ms, total: 5.68 s
Wall time: 5.76 s

## Station id and name have changed over time

In [4]:
df_station = pd.merge(df_station_16Q3[['id', 'name', 'latitude', 'longitude']],
                      df_station_16Q4[['id', 'name', 'latitude', 'longitude']], how='outer', on='id').merge(df_station_17Q1Q2[['id', 'name', 'latitude', 'longitude']], how='outer', on='id')
df_station[df_station['name_x'] != df_station['name']]

,id,name_x,latitude_x,longitude_x,name_y,latitude_y,longitude_y,name,latitude,longitude
0,2,Michigan Ave & Balbo Ave,41.872638,-87.623979,Michigan Ave & Balbo Ave,41.872638,-87.623979,Buckingham Fountain,41.881060,-87.619486
70,80,Aberdeen St & Monroe St,41.880420,-87.655599,Aberdeen St & Monroe St,41.880420,-87.655599,Aberdeen St & Madison (Monroe) St,41.881567,-87.655056
72,84,Union Ave & Grand Ave,41.891000,-87.645925,Union Ave & Grand Ave,41.891000,-87.645925,Milwaukee Ave & Grand Ave,41.891578,-87.648384
76,88,May St & Randolph St,41.883970,-87.655688,May St & Randolph St,41.883970,-87.655688,Racine Ave & Randolph St,41.884069,-87.656853
100,114,Sheffield Ave & Addison St,41.946966,-87.654242,Sheffield Ave & Addison St,41.946966,-87.654242,Sheffield Ave & Waveland Ave,41.949399,-87.654529
198,217,May St & Fulton St,41.886773,-87.656001,May St & Fulton St,41.886773,-87.656001,Racine Ave (May St) & Fulton St,41.886926,-87.656919
262,285,Wood St & Grand Ave,41.891130,-87.672030,Wood St & Grand Ave,41.891130,-87.672030,Wood St & Hubbard St,41.889587,-87.671956
342,372,Humboldt Dr & Luis Munoz Marin Dr,41.900146,-87.702882,Humboldt Dr & Luis Munoz Marin Dr,41.900146,-87.702882,NaN,NaN,NaN
373,408,Union Ave & 42nd St,41.817638,-87.643565,Union Ave & 42nd St,41.817638,-87.643565,Union Ave & Root St,41.819102,-87.643278
457,493,Western Ave & Roscoe St,41.943026,-87.687395,Western Ave & Roscoe St,41.943026,-87.687395,Oakley Ave & Roscoe St,41.942916,-87.685801
517,557,Damen Ave & Garfield Blvd,41.794587,-87.674254,Damen Ave & Garfield Blvd,41.794587,-87.674254,Seeley Ave & Garfield Blvd,41.794087,-87.675478
521,561,Damen Ave & 61st St,41.783681,-87.674101,Damen Ave & 61st St,41.783681,-87.674101,Damen Ave & 59th St,41.786020,-87.674167
538,578,Chappel Ave & 79th St,41.751802,-87.574845,Chappel Ave & 79th St,41.751802,-87.574845,Bennett Ave & 79th St,41.751785,-87.578496
581,622,NaN,NaN,NaN,NaN,NaN,NaN,California Ave & Cortez St,41.900363,-87.696704
582,623,NaN,NaN,NaN,NaN,NaN,NaN,Michigan Ave & 8th St,41.872773,-87.623981

In [5]:
print(df_station_16Q3.shape[0], df_station_16Q4.shape[0], df_station_17Q1Q2.shape[0])

581 581 582

In [6]:
df_station = pd.merge(df_station_16Q3[['name', 'latitude', 'longitude']],
                      df_station_16Q4[['name', 'latitude', 'longitude']], how='outer', on=['name']).merge(df_station_17Q1Q2[['name', 'latitude', 'longitude']], how='outer', on='name')
NA_boolean = df_station.isna().apply(lambda x: any(x), axis=1)
df_station[NA_boolean]

,name,latitude_x,longitude_x,latitude_y,longitude_y,latitude,longitude
0,Michigan Ave & Balbo Ave,41.872638,-87.623979,41.872638,-87.623979,NaN,NaN
70,Aberdeen St & Monroe St,41.880420,-87.655599,41.880420,-87.655599,NaN,NaN
72,Union Ave & Grand Ave,41.891000,-87.645925,41.891000,-87.645925,NaN,NaN
76,May St & Randolph St,41.883970,-87.655688,41.883970,-87.655688,NaN,NaN
100,Sheffield Ave & Addison St,41.946966,-87.654242,41.946966,-87.654242,NaN,NaN
198,May St & Fulton St,41.886773,-87.656001,41.886773,-87.656001,NaN,NaN
262,Wood St & Grand Ave,41.891130,-87.672030,41.891130,-87.672030,NaN,NaN
342,Humboldt Dr & Luis Munoz Marin Dr,41.900146,-87.702882,41.900146,-87.702882,NaN,NaN
373,Union Ave & 42nd St,41.817638,-87.643565,41.817638,-87.643565,NaN,NaN
457,Western Ave & Roscoe St,41.943026,-87.687395,41.943026,-87.687395,NaN,NaN
517,Damen Ave & Garfield Blvd,41.794587,-87.674254,41.794587,-87.674254,NaN,NaN
521,Damen Ave & 61st St,41.783681,-87.674101,41.783681,-87.674101,NaN,NaN
538,Chappel Ave & 79th St,41.751802,-87.574845,41.751802,-87.574845,NaN,NaN
581,Buckingham Fountain,NaN,NaN,NaN,NaN,41.881060,-87.619486
582,Aberdeen St & Madison (Monroe) St,NaN,NaN,NaN,NaN,41.881567,-87.655056
583,Milwaukee Ave & Grand Ave,NaN,NaN,NaN,NaN,41.891578,-87.648384
584,Racine Ave & Randolph St,NaN,NaN,NaN,NaN,41.884069,-87.656853
585,Sheffield Ave & Waveland Ave,NaN,NaN,NaN,NaN,41.949399,-87.654529
586,Racine Ave (May St) & Fulton St,NaN,NaN,NaN,NaN,41.886926,-87.656919
587,Wood St & Hubbard St,NaN,NaN,NaN,NaN,41.889587,-87.671956
588,Union Ave & Root St,NaN,NaN,NaN,NaN,41.819102,-87.643278
589,Oakley Ave & Roscoe St,NaN,NaN,NaN,NaN,41.942916,-87.685801
590,Seeley Ave & Garfield Blvd,NaN,NaN,NaN,NaN,41.794087,-87.675478
591,Damen Ave & 59th St,NaN,NaN,NaN,NaN,41.786020,-87.674167
592,Bennett Ave & 79th St,NaN,NaN,NaN,NaN,41.751785,-87.578496
593,California Ave & Cortez St,NaN,NaN,NaN,NaN,41.900363,-87.696704
594,Michigan Ave & 8th St,NaN,NaN,NaN,NaN,41.872773,-87.623981

In [7]:
df_station['latitude'][df_station['latitude'].isna()] = df_station['latitude_x'][df_station['latitude'].isna()]
df_station['longitude'][df_station['longitude'].isna()] = df_station['longitude_x'][df_station['longitude'].isna()]

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
df_station[NA_boolean]

,name,latitude_x,longitude_x,latitude_y,longitude_y,latitude,longitude
0,Michigan Ave & Balbo Ave,41.872638,-87.623979,41.872638,-87.623979,41.872638,-87.623979
70,Aberdeen St & Monroe St,41.880420,-87.655599,41.880420,-87.655599,41.880420,-87.655599
72,Union Ave & Grand Ave,41.891000,-87.645925,41.891000,-87.645925,41.891000,-87.645925
76,May St & Randolph St,41.883970,-87.655688,41.883970,-87.655688,41.883970,-87.655688
100,Sheffield Ave & Addison St,41.946966,-87.654242,41.946966,-87.654242,41.946966,-87.654242
198,May St & Fulton St,41.886773,-87.656001,41.886773,-87.656001,41.886773,-87.656001
262,Wood St & Grand Ave,41.891130,-87.672030,41.891130,-87.672030,41.891130,-87.672030
342,Humboldt Dr & Luis Munoz Marin Dr,41.900146,-87.702882,41.900146,-87.702882,41.900146,-87.702882
373,Union Ave & 42nd St,41.817638,-87.643565,41.817638,-87.643565,41.817638,-87.643565
457,Western Ave & Roscoe St,41.943026,-87.687395,41.943026,-87.687395,41.943026,-87.687395
517,Damen Ave & Garfield Blvd,41.794587,-87.674254,41.794587,-87.674254,41.794587,-87.674254
521,Damen Ave & 61st St,41.783681,-87.674101,41.783681,-87.674101,41.783681,-87.674101
538,Chappel Ave & 79th St,41.751802,-87.574845,41.751802,-87.574845,41.751802,-87.574845
581,Buckingham Fountain,NaN,NaN,NaN,NaN,41.881060,-87.619486
582,Aberdeen St & Madison (Monroe) St,NaN,NaN,NaN,NaN,41.881567,-87.655056
583,Milwaukee Ave & Grand Ave,NaN,NaN,NaN,NaN,41.891578,-87.648384
584,Racine Ave & Randolph St,NaN,NaN,NaN,NaN,41.884069,-87.656853
585,Sheffield Ave & Waveland Ave,NaN,NaN,NaN,NaN,41.949399,-87.654529
586,Racine Ave (May St) & Fulton St,NaN,NaN,NaN,NaN,41.886926,-87.656919
587,Wood St & Hubbard St,NaN,NaN,NaN,NaN,41.889587,-87.671956
588,Union Ave & Root St,NaN,NaN,NaN,NaN,41.819102,-87.643278
589,Oakley Ave & Roscoe St,NaN,NaN,NaN,NaN,41.942916,-87.685801
590,Seeley Ave & Garfield Blvd,NaN,NaN,NaN,NaN,41.794087,-87.675478
591,Damen Ave & 59th St,NaN,NaN,NaN,NaN,41.786020,-87.674167
592,Bennett Ave & 79th St,NaN,NaN,NaN,NaN,41.751785,-87.578496
593,California Ave & Cortez St,NaN,NaN,NaN,NaN,41.900363,-87.696704
594,Michigan Ave & 8th St,NaN,NaN,NaN,NaN,41.872773,-87.623981

In [9]:
df_station = df_station.drop(['latitude_x', 'longitude_x', 'latitude_y', 'longitude_y'], axis=1)
df_station.index = range(df_station.shape[0])

In [10]:
df_station.head()

                       name   latitude  longitude
0  Michigan Ave & Balbo Ave  41.872638 -87.623979
1            Shedd Aquarium  41.867226 -87.615355
2            Burnham Harbor  41.856268 -87.613348
3    State St & Harrison St  41.874053 -87.627716
4            Dusable Harbor  41.885042 -87.612795

In [11]:
df_trip = pd.concat([df_trip_16Q3, df_trip_16Q4, df_trip_17Q1, df_trip_17Q2]).drop(['from_station_id', 'to_station_id'], axis=1)
#df_trip = df_trip.drop(['trip_id', 'bikeid', 'end_time', 'tripduration'], axis = 1)
df_trip.index = range(df_trip.shape[0])
df_trip.shape

(3677148, 10)

In [12]:
df_trip.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_name,to_station_name,usertype,gender,birthyear
0,12150160,9/30/2016 23:59:58,10/1/2016 00:04:03,4959,245,Damen Ave & Pierce Ave,Wood St & Division St,Subscriber,Male,1988.0
1,12150159,9/30/2016 23:59:58,10/1/2016 00:04:09,2589,251,Ashland Ave & Harrison St,Loomis St & Lexington St,Subscriber,Female,1990.0
2,12150158,9/30/2016 23:59:51,10/1/2016 00:24:51,3656,1500,Sheffield Ave & Wrightwood Ave,Lake Shore Dr & Belmont Ave,Customer,NaN,NaN
3,12150157,9/30/2016 23:59:51,10/1/2016 00:03:56,3570,245,Washtenaw Ave & Lawrence Ave,Francisco Ave & Foster Ave,Subscriber,Female,1988.0
4,12150156,9/30/2016 23:59:32,10/1/2016 00:26:50,3158,1638,Sheffield Ave & Wrightwood Ave,Leavitt St & Addison St,Customer,NaN,NaN

In [13]:
%%time
# parse trip start time
date = df_trip['start_time'].apply(lambda x: datetime.datetime.strptime(x, "%m/%d/%Y %H:%M:%S"))

CPU times: user 27.7 s, sys: 53.1 ms, total: 27.7 s
Wall time: 27.7 s

In [14]:
%%time
df_trip['start_year'] = date.apply(lambda x: x.year)
df_trip['start_month'] = date.apply(lambda x: x.month)
df_trip['start_day'] = date.apply(lambda x: x.day)
df_trip['start_hour'] = date.apply(lambda x: x.hour)
df_trip['start_weekday'] = date.apply(lambda x: x.weekday())
# create time_key for further join with weather data
df_trip['time_key'] = date.apply(lambda x: x.strftime('%Y/%m/%d-%H'))

CPU times: user 49.7 s, sys: 961 ms, total: 50.7 s
Wall time: 50.6 s

In [15]:
df_trip.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_name,to_station_name,usertype,gender,birthyear,start_year,start_month,start_day,start_hour,start_weekday,time_key
0,12150160,9/30/2016 23:59:58,10/1/2016 00:04:03,4959,245,Damen Ave & Pierce Ave,Wood St & Division St,Subscriber,Male,1988.0,2016,9,30,23,4,2016/09/30-23
1,12150159,9/30/2016 23:59:58,10/1/2016 00:04:09,2589,251,Ashland Ave & Harrison St,Loomis St & Lexington St,Subscriber,Female,1990.0,2016,9,30,23,4,2016/09/30-23
2,12150158,9/30/2016 23:59:51,10/1/2016 00:24:51,3656,1500,Sheffield Ave & Wrightwood Ave,Lake Shore Dr & Belmont Ave,Customer,NaN,NaN,2016,9,30,23,4,2016/09/30-23
3,12150157,9/30/2016 23:59:51,10/1/2016 00:03:56,3570,245,Washtenaw Ave & Lawrence Ave,Francisco Ave & Foster Ave,Subscriber,Female,1988.0,2016,9,30,23,4,2016/09/30-23
4,12150156,9/30/2016 23:59:32,10/1/2016 00:26:50,3158,1638,Sheffield Ave & Wrightwood Ave,Leavitt St & Addison St,Customer,NaN,NaN,2016,9,30,23,4,2016/09/30-23

# Distance between Possible Pair of Stations

I calculate the distance for all possible origin/destination pair. The distance is calculated using straight-line distance. I also tried to use Googlemaps API to calcuate the path distance. However, google only allows 1000 free requests per day. I cannot get enough data. But the code to pull data from googlemaps API has been written and it works.

In [16]:
# possible pairs of original and destination stations
df_pair = df_trip[['from_station_name', 'to_station_name']].drop_duplicates(['from_station_name', 'to_station_name'])
#df_pair = df_pair[df_pair['from_station_id'] != df_pair['to_station_id']]
df_pair = df_pair.sort_values(['from_station_name', 'to_station_name'])
df_pair.index = range(df_pair.shape[0])
df_pair.shape

(97956, 2)

In [17]:
set(pd.concat([df_trip['from_station_name'], df_trip['to_station_name']], axis=0)) - set(df_station['name'])

{'Clinton St & Jackson Blvd'}

In [18]:
station_unexist = list(set(pd.concat([df_trip['from_station_name'], df_trip['to_station_name']], axis=0)) - set(df_station['name']))

In [19]:
station_unexist[0] + ', Chicago'

'Clinton St & Jackson Blvd, Chicago'

In [20]:
df_trip[df_trip['from_station_name'] == 'Clinton St & Jackson Blvd'].head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_name,to_station_name,usertype,gender,birthyear,start_year,start_month,start_day,start_hour,start_weekday,time_key
1443329,12977077,12/31/2016 10:44:38,12/31/2016 10:57:20,2337,762,Clinton St & Jackson Blvd,Franklin St & Chicago Ave,Subscriber,Male,1960.0,2016,12,31,10,5,2016/12/31-10
1443579,12976749,12/31/2016 09:12:03,12/31/2016 09:21:26,3991,563,Clinton St & Jackson Blvd,Clinton St & Roosevelt Rd,Subscriber,Male,1997.0,2016,12,31,9,5,2016/12/31-09
1443843,12976463,12/30/2016 23:00:47,12/30/2016 23:08:43,1478,476,Clinton St & Jackson Blvd,Halsted St & Polk St,Subscriber,Male,1980.0,2016,12,30,23,4,2016/12/30-23
1444045,12976180,12/30/2016 19:14:27,12/30/2016 19:26:19,3749,712,Clinton St & Jackson Blvd,Ogden Ave & Chicago Ave,Customer,NaN,NaN,2016,12,30,19,4,2016/12/30-19
1444229,12975928,12/30/2016 17:55:54,12/30/2016 18:15:33,2919,1179,Clinton St & Jackson Blvd,Wood St & Division St,Subscriber,Female,1989.0,2016,12,30,17,4,2016/12/30-17

In [21]:
'Clinton St & Jackson Blvd' in set(df_station['name'])

False

### Get lat/lng for 'Clinton St & Jackson Blvd'

I found that the latitude/longitude information for station "Clinton St & Jackson Blvd" is not available in the dataset. I pulled the GPS information using Googlemaps API.

In [22]:
import googlemaps

# https://developers.google.com/maps/documentation/distance-matrix/

key1 = "AIzaSyA_Ffta0H0Fgua32jjKx5g92dtl9sapKig"
gmaps = googlemaps.Client(key=key1)

In [23]:
gres = gmaps.geocode(station_unexist[0] + ', Chicago')

In [24]:
df_station.columns

Index(['name', 'latitude', 'longitude'], dtype='object')

In [25]:
df_station = df_station.append({'name': station_unexist[0], 'latitude':gres[0]['geometry']['location']['lat'], 'longitude':gres[0]['geometry']['location']['lng']}, ignore_index=True)

In [26]:
df_station.tail()

                           name   latitude  longitude
591         Damen Ave & 59th St  41.786020 -87.674167
592       Bennett Ave & 79th St  41.751785 -87.578496
593  California Ave & Cortez St  41.900363 -87.696704
594       Michigan Ave & 8th St  41.872773 -87.623981
595   Clinton St & Jackson Blvd  41.878034 -87.641055

In [27]:
df_distance = pd.merge(df_pair, df_station, how='inner', left_on='from_station_name', right_on='name')
df_distance = pd.merge(df_distance, df_station, how='inner', left_on='to_station_name', right_on='name')
#df_distance = df_distance.drop(['id_x', 'id_y'], axis=1).sort_values(['from_station_id', 'to_station_id'])
#df_distance.index = range(df_distance.shape[0])
df_distance.shape

(97956, 8)

In [28]:
df_distance.head()

,from_station_name,to_station_name,name_x,latitude_x,longitude_x,name_y,latitude_y,longitude_y
0,2112 W Peterson Ave,2112 W Peterson Ave,2112 W Peterson Ave,41.991178,-87.683593,2112 W Peterson Ave,41.991178,-87.683593
1,Broadway & Argyle St,2112 W Peterson Ave,Broadway & Argyle St,41.973815,-87.659660,2112 W Peterson Ave,41.991178,-87.683593
2,Broadway & Berwyn Ave,2112 W Peterson Ave,Broadway & Berwyn Ave,41.978353,-87.659753,2112 W Peterson Ave,41.991178,-87.683593
3,Broadway & Granville Ave,2112 W Peterson Ave,Broadway & Granville Ave,41.994780,-87.660285,2112 W Peterson Ave,41.991178,-87.683593
4,Broadway & Ridge Ave,2112 W Peterson Ave,Broadway & Ridge Ave,41.984045,-87.660274,2112 W Peterson Ave,41.991178,-87.683593

## Station Distance

To calculate the straight-line distance. I use the package geopy. The method is "vincenty" distance.

In [29]:
from geopy.distance import vincenty

In [30]:
%%time
df_distance['distance'] = df_distance.apply(lambda x: vincenty((x['latitude_x'], x['longitude_x']), (x['latitude_y'], x['longitude_y'])).km, axis = 1)

CPU times: user 5.38 s, sys: 3.94 ms, total: 5.38 s
Wall time: 5.38 s

In [31]:
df_distance.head()

,from_station_name,to_station_name,name_x,latitude_x,longitude_x,name_y,latitude_y,longitude_y,distance
0,2112 W Peterson Ave,2112 W Peterson Ave,2112 W Peterson Ave,41.991178,-87.683593,2112 W Peterson Ave,41.991178,-87.683593,0.000000
1,Broadway & Argyle St,2112 W Peterson Ave,Broadway & Argyle St,41.973815,-87.659660,2112 W Peterson Ave,41.991178,-87.683593,2.766452
2,Broadway & Berwyn Ave,2112 W Peterson Ave,Broadway & Berwyn Ave,41.978353,-87.659753,2112 W Peterson Ave,41.991178,-87.683593,2.435643
3,Broadway & Granville Ave,2112 W Peterson Ave,Broadway & Granville Ave,41.994780,-87.660285,2112 W Peterson Ave,41.991178,-87.683593,1.972334
4,Broadway & Ridge Ave,2112 W Peterson Ave,Broadway & Ridge Ave,41.984045,-87.660274,2112 W Peterson Ave,41.991178,-87.683593,2.088516

In [32]:
%%time
print(df_trip.shape)
tmp = pd.merge(df_trip, df_distance, how="left", on=['from_station_name', 'to_station_name'])
print(tmp.shape)

(3677148, 16)
(3677148, 23)
CPU times: user 1.14 s, sys: 208 ms, total: 1.35 s
Wall time: 1.35 s

In [33]:
df = tmp.drop(['name_x', 'name_y'], axis=1)
df.shape

(3677148, 21)

In [34]:
df.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_name,to_station_name,usertype,gender,birthyear,...,start_month,start_day,start_hour,start_weekday,time_key,latitude_x,longitude_x,latitude_y,longitude_y,distance
0,12150160,9/30/2016 23:59:58,10/1/2016 00:04:03,4959,245,Damen Ave & Pierce Ave,Wood St & Division St,Subscriber,Male,1988.0,...,9,30,23,4,2016/09/30-23,41.909396,-87.677692,41.903320,-87.672730,0.790537
1,12150159,9/30/2016 23:59:58,10/1/2016 00:04:09,2589,251,Ashland Ave & Harrison St,Loomis St & Lexington St,Subscriber,Female,1990.0,...,9,30,23,4,2016/09/30-23,41.874291,-87.667246,41.872187,-87.661501,0.531053
2,12150158,9/30/2016 23:59:51,10/1/2016 00:24:51,3656,1500,Sheffield Ave & Wrightwood Ave,Lake Shore Dr & Belmont Ave,Customer,NaN,NaN,...,9,30,23,4,2016/09/30-23,41.928712,-87.653833,41.940775,-87.639192,1.808217
3,12150157,9/30/2016 23:59:51,10/1/2016 00:03:56,3570,245,Washtenaw Ave & Lawrence Ave,Francisco Ave & Foster Ave,Subscriber,Female,1988.0,...,9,30,23,4,2016/09/30-23,41.968711,-87.696170,41.975633,-87.701419,0.883412
4,12150156,9/30/2016 23:59:32,10/1/2016 00:26:50,3158,1638,Sheffield Ave & Wrightwood Ave,Leavitt St & Addison St,Customer,NaN,NaN,...,9,30,23,4,2016/09/30-23,41.928712,-87.653833,41.946655,-87.683359,3.157172

# Pull Weather Information using Dark Sky API

Due to the limited amount of available features, I pulled the daily and hourly weather information from 2016 Q3 to 2017 Q2. I used the Dark Sky API. It allows 1000 free request per day, which is enough to cover from 2016 Q3 to 2017 Q2. Note that, I didn't treat daily information as "pre-known" information since we could use the forcast as its data. It would not bring in the time machine.

In [35]:
import json, requests, sys
import datetime
import pytz
import calendar

In [36]:
print(date.min(), date.max())

2016-07-01 00:01:14 2017-06-30 23:59:51

In [37]:
dt = pytz.UTC.localize(datetime.datetime.utcfromtimestamp(1467349200))
print(dt.astimezone(tz=pytz.timezone('UTC')))
print(dt.astimezone(tz=pytz.timezone('US/Central')))
print(dt.astimezone(tz=pytz.timezone('US/Eastern')))
print(dt.astimezone(tz=pytz.timezone('US/Central')))

2016-07-01 05:00:00+00:00
2016-07-01 00:00:00-05:00
2016-07-01 01:00:00-04:00
2016-07-01 00:00:00-05:00

In [38]:
# 1467349200 is the unix time for 2016/7/01 00:00:00 CST
import time
time_0 = 1467349200
time_0

1467349200

In [39]:
# Make a get request to get the latest position of the international space station from the opennotify api
# chicago latitude longitude 41.8781,-87.6298

# dark sky API key
key0 = '7b9dd22e760f21ef06a5e59ccb97fa22'
key1 = 'b22052ca483684ed023b91654c57e100'

def unix_secs(y, m, d, h):
    """given year, month, day, hour from Central timezone, return unix timestamp"""
    return calendar.timegm(datetime.datetime(y, m, d, h, tzinfo=pytz.timezone('America/Chicago')).utctimetuple())

def weatherDaily(time, key):
    response = requests.get("https://api.darksky.net/forecast/%s/41.8781,-87.6298,%d?exclude=currently, minutely, alerts, flags" % (key, time))
    
    # print the status code of the response
    print(response.status_code)
    response.content.decode("utf-8")
    
    # loads the pulled dataset as json format
    weatherData = json.loads(response.text)
    df_daily = pd.DataFrame([list(weatherData['daily']['data'][0].values())] * 24,
                            columns=list(map(lambda x: 'daily_' + x, list(weatherData['daily']['data'][0].keys()))))
    
    df_hour = pd.DataFrame()
    for i in range(0, 24):
        tmp = pd.Series(weatherData['hourly']['data'][i])
        df_hour = pd.concat([df_hour, tmp.to_frame().T], ignore_index=True)
    
    df_out = pd.concat([df_hour, df_daily], axis=1)
    df_out['unix_secs'] = [time + 3600 * x for x in range(24)]
    
    return(df_out)

In [40]:
%%time
df_weather = pd.DataFrame()
for day in range(0, 365):
    print(day)
    tmp = weatherDaily(day * 86400 + time_0, key0)
    df_weather = pd.concat([df_weather, tmp], ignore_index=True)

0
200
1
200
2
200
3
200
4
200
5
200
6
200
7
200
8
200
9
200
10
200
11
200
12
200
13
200
14
200
15
200
16
200
17
200
18
200
19
200
20
200
21
200
22
200
23
200
24
200
25
200
26
200
27
200
28
200
29
200
30
200
31
200
32
200
33
200
34
200
35
200
36
200
37
200
38
200
39
200
40
200
41
200
42
200
43
200
44
200
45
200
46
200
47
200
48
200
49
200
50
200
51
200
52
200
53
200
54
200
55
200
56
200
57
200
58
200
59
200
60
200
61
200
62
200
63
200
64
200
65
200
66
200
67
200
68
200
69
200
70
200
71
200
72
200
73
200
74
200
75
200
76
200
77
200
78
200
79
200
80
200
81
200
82
200
83
200
84
200
85
200
86
200
87
200
88
200
89
200
90
200
91
200
92
200
93
200
94
200
95
200
96
200
97
200
98
200
99
200
100
200
101
200
102
200
103
200
104
200
105
200
106
200
107
200
108
200
109
200
110
200
111
200
112
200
113
200
114
200
115
200
116
200
117
200
118
200
119
200
120
200
121
200
122
200
123
200
124
200
125
200
126
200
127
200
128
200
129
200
130
200
131
200
132
200
133
200
134
200
135
200
136
200
137
200
138
200
139
200
140
200
141
200
142
200
143
200
144
200
145
200
146
200
147
200
148
200
149
200
150
200
151
200
152
200
153
200
154
200
155
200
156
200
157
200
158
200
159
200
160
200
161
200
162
200
163
200
164
200
165
200
166
200
167
200
168
200
169
200
170
200
171
200
172
200
173
200
174
200
175
200
176
200
177
200
178
200
179
200
180
200
181
200
182
200
183
200
184
200
185
200
186
200
187
200
188
200
189
200
190
200
191
200
192
200
193
200
194
200
195
200
196
200
197
200
198
200
199
200
200
200
201
200
202
200
203
200
204
200
205
200
206
200
207
200
208
200
209
200
210
200
211
200
212
200
213
200
214
200
215
200
216
200
217
200
218
200
219
200
220
200
221
200
222
200
223
200
224
200
225
200
226
200
227
200
228
200
229
200
230
200
231
200
232
200
233
200
234
200
235
200
236
200
237
200
238
200
239
200
240
200
241
200
242
200
243
200
244
200
245
200
246
200
247
200
248
200
249
200
250
200
251
200
252
200
253
200
254
200
255
200
256
200
257
200
258
200
259
200
260
200
261
200
262
200
263
200
264
200
265
200
266
200
267
200
268
200
269
200
270
200
271
200
272
200
273
200
274
200
275
200
276
200
277
200
278
200
279
200
280
200
281
200
282
200
283
200
284
200
285
200
286
200
287
200
288
200
289
200
290
200
291
200
292
200
293
200
294
200
295
200
296
200
297
200
298
200
299
200
300
200
301
200
302
200
303
200
304
200
305
200
306
200
307
200
308
200
309
200
310
200
311
200
312
200
313
200
314
200
315
200
316
200
317
200
318
200
319
200
320
200
321
200
322
200
323
200
324
200
325
200
326
200
327
200
328
200
329
200
330
200
331
200
332
200
333
200
334
200
335
200
336
200
337
200
338
200
339
200
340
200
341
200
342
200
343
200
344
200
345
200
346
200
347
200
348
200
349
200
350
200
351
200
352
200
353
200
354
200
355
200
356
200
357
200
358
200
359
200
360
200
361
200
362
200
363
200
364
200
CPU times: user 35.5 s, sys: 445 ms, total: 36 s
Wall time: 2min 4s

In [41]:
df_weather.shape[0] == 365*24

True

In [42]:
print('CST time:')
print(pytz.UTC.localize(datetime.datetime.utcfromtimestamp(df_weather['time'].min())).astimezone(tz=pytz.timezone('US/Central')))
print(pytz.UTC.localize(datetime.datetime.utcfromtimestamp(df_weather['time'].max())).astimezone(tz=pytz.timezone('US/Central')))
print('UTC time:')
print(pytz.UTC.localize(datetime.datetime.utcfromtimestamp(df_weather['time'].min())))
print(pytz.UTC.localize(datetime.datetime.utcfromtimestamp(df_weather['time'].max())))
print('UTC converted to CST:')
time_delta = datetime.timedelta(hours=-5)
print(pytz.UTC.localize(datetime.datetime.utcfromtimestamp(df_weather['time'].min())) + time_delta)
print(pytz.UTC.localize(datetime.datetime.utcfromtimestamp(df_weather['time'].max())) + time_delta)

CST time:
2016-07-01 00:00:00-05:00
2017-06-30 23:00:00-05:00
UTC time:
2016-07-01 05:00:00+00:00
2017-07-01 04:00:00+00:00
UTC converted to CST:
2016-07-01 00:00:00+00:00
2017-06-30 23:00:00+00:00

In [43]:
df_weather['time_key'] = df_weather['time'].apply(lambda x: (pytz.UTC.localize(datetime.datetime.utcfromtimestamp(x)) + time_delta).strftime('%Y/%m/%d-%H'))

In [44]:
df_weather.head()

,apparentTemperature,cloudCover,daily_apparentTemperatureHigh,daily_apparentTemperatureHighTime,daily_apparentTemperatureLow,daily_apparentTemperatureLowTime,daily_apparentTemperatureMax,daily_apparentTemperatureMaxTime,daily_apparentTemperatureMin,daily_apparentTemperatureMinTime,...,precipType,pressure,summary,temperature,time,unix_secs,visibility,windBearing,windSpeed,time_key
0,71.39,0.31,67.7,1467396000,60.63,1467446400,71.39,1467349200,64.16,1467432000,...,NaN,1012.15,Partly Cloudy,71.31,1467349200,1467349200,10,257,8.19,2016/07/01-00
1,70.02,0.46,67.7,1467396000,60.63,1467446400,71.39,1467349200,64.16,1467432000,...,NaN,1011.89,Partly Cloudy,69.85,1467352800,1467352800,10,294,8.9,2016/07/01-01
2,68.93,0.14,67.7,1467396000,60.63,1467446400,71.39,1467349200,64.16,1467432000,...,NaN,1012.1,Clear,68.76,1467356400,1467356400,10,317,10.08,2016/07/01-02
3,66.77,0.22,67.7,1467396000,60.63,1467446400,71.39,1467349200,64.16,1467432000,...,NaN,1012.43,Clear,66.59,1467360000,1467360000,10,316,7.47,2016/07/01-03
4,66.07,0.21,67.7,1467396000,60.63,1467446400,71.39,1467349200,64.16,1467432000,...,NaN,1013,Clear,65.79,1467363600,1467363600,10,324,10.54,2016/07/01-04

In [45]:
# due to the sever bug, there are some hours without any information
set(df['time_key']) - set(df_weather['time_key'])

{'2016/11/07-00',
 '2017/03/12-01',
 '2017/03/12-03',
 '2017/03/12-04',
 '2017/03/12-05',
 '2017/03/12-06',
 '2017/03/12-07',
 '2017/03/12-08',
 '2017/03/12-09',
 '2017/03/12-10',
 '2017/03/12-11',
 '2017/03/12-12',
 '2017/03/12-13',
 '2017/03/12-14',
 '2017/03/12-15',
 '2017/03/12-16',
 '2017/03/12-17',
 '2017/03/12-18',
 '2017/03/12-19',
 '2017/03/12-20',
 '2017/03/12-21',
 '2017/03/12-22',
 '2017/03/12-23'}

In [46]:
time_nonexist = [1478494800, 1489294800]

In [47]:
df_weather = df_weather.loc[df_weather['time'].drop_duplicates().index]

In [48]:
df_weather.shape

(8736, 53)

In [49]:
%%time
df_weather.to_csv("./input/weatherData.csv")

CPU times: user 242 ms, sys: 15 µs, total: 242 ms
Wall time: 241 ms

## Merge Weather Data

Now I merge the weather data with the trip data.

In [50]:
%%time
df_all = pd.merge(df.drop_duplicates(), df_weather, how='left', left_on='time_key', right_on='time_key')
print(df_all.shape, df.shape)

(3677088, 73) (3677148, 21)
CPU times: user 6.81 s, sys: 1.28 s, total: 8.08 s
Wall time: 8.08 s

In [51]:
# export all data with weather information
%time df_all.to_csv("./input/dataAll.csv")

CPU times: user 2min 23s, sys: 1.09 s, total: 2min 24s
Wall time: 2min 25s

## Google Maps Distance Matrix API

I also tried to use Googlemaps API to calculate the actual path distance for possible trip. Since google only allows 1000 free requests per day. I cannot get enought information. But the code below works.

In [52]:
# import googlemaps
# from datetime import datetime

# # https://developers.google.com/maps/documentation/distance-matrix/

# key1 = "AIzaSyCaFJHdjfmWUPfk6OTz90hoDue7R4mX1jw"
# gmaps = googlemaps.Client(key=key1)

In [53]:
# def chunks(l, n):
#     """Yield successive n-sized chunks from l."""
#     for i in range(0, len(l), n):
#         yield l[i:i + n]
        
# def gmap_input_origins(df):
#     '''create correst lat/long coordinates for gmap'''
#     return [(df.loc[x, 'latitude_x'], df.loc[x, 'longitude_x']) for x in df.index]

# def gmap_input_destinations(df):
#     '''create correst lat/long coordinates for gmap'''
#     return [(df.loc[x, 'latitude_y'], df.loc[x, 'longitude_y']) for x in df.index]

In [54]:
# df_gmap_res = pd.DataFrame(index = df_distance.index)

In [55]:
# a = range(160, 10000)
# b = list(chunks(a, 10))

In [56]:
# %%time
# # split data
# for i in b:
#     print(i)
#     tmp = gmaps.distance_matrix(gmap_input_origins(df_distance.loc[i]), gmap_input_destinations(df_distance.loc[i]), mode="bicycling")
#     df_gmap_res.loc[i, 'origin_addresses'] = tmp['origin_addresses']
#     df_gmap_res.loc[i, 'destination_addresses'] = tmp['destination_addresses']
#     df_gmap_res.loc[i, 'gmap_element'] = tmp['rows'][0]['elements']
#     time.sleep(2)

# Further Data Clean

Drop useless information, perform label encoding and generate analysis ready data.

In [65]:
df = pd.read_csv("./input/dataAll.csv", index_col=0).drop(['trip_id', 'start_time', 'end_time', 'bikeid', 'tripduration', 'to_station_name', 'time_key', 'latitude_y', 'longitude_y', 'time', 'unix_secs', 'daily_time'], axis=1)
df.shape

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (42,65) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/numpy/lib/arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

(3677088, 61)

In [66]:
categorical_colName = ['from_station_name', 'usertype', 'gender', 'start_year', 'daily_icon', 'daily_precipType', 'daily_summary', 'icon', 'precipType', 'summary']

## Manage Column Types & Label Encoding

In [67]:
from sklearn.preprocessing import LabelEncoder

In [68]:
df.columns.to_series().groupby(df.dtypes).groups

{dtype('int64'): Index(['start_year', 'start_month', 'start_day', 'start_hour',
        'start_weekday'],
       dtype='object'),
 dtype('float64'): Index(['birthyear', 'latitude_x', 'longitude_x', 'distance',
        'apparentTemperature', 'cloudCover', 'daily_apparentTemperatureHigh',
        'daily_apparentTemperatureHighTime', 'daily_apparentTemperatureLow',
        'daily_apparentTemperatureLowTime', 'daily_apparentTemperatureMax',
        'daily_apparentTemperatureMaxTime', 'daily_apparentTemperatureMin',
        'daily_apparentTemperatureMinTime', 'daily_cloudCover',
        'daily_dewPoint', 'daily_humidity', 'daily_moonPhase',
        'daily_precipAccumulation', 'daily_precipIntensity',
        'daily_precipIntensityMax', 'daily_precipIntensityMaxTime',
        'daily_precipProbability', 'daily_pressure', 'daily_sunriseTime',
        'daily_sunsetTime', 'daily_temperatureHigh',
        'daily_temperatureHighTime', 'daily_temperatureLow',
        'daily_temperatureLowTime', 'daily_temperatureMax',
        'daily_temperatureMaxTime', 'daily_temperatureMin',
        'daily_temperatureMinTime', 'daily_visibility', 'daily_windBearing',
        'daily_windSpeed', 'dewPoint', 'humidity', 'precipAccumulation',
        'precipIntensity', 'precipProbability', 'pressure', 'temperature',
        'visibility', 'windBearing', 'windSpeed'],
       dtype='object'),
 dtype('O'): Index(['from_station_name', 'usertype', 'gender', 'daily_icon',
        'daily_precipType', 'daily_summary', 'icon', 'precipType', 'summary'],
       dtype='object')}

In [69]:
LabelMap = dict()
for i in df.select_dtypes('O').columns.tolist():
    print('Start ' + i)
    df[i] = df[i].fillna('missing')
    le = LabelEncoder()
    le.fit(df[i])
    LabelMap[i] = dict(zip(le.classes_, le.transform(le.classes_)))

Start from_station_name
Start usertype
Start gender
Start daily_icon
Start daily_precipType
Start daily_summary
Start icon
Start precipType
Start summary

In [70]:
for i in LabelMap:
    LabelMap[i]['missing'] = np.nan

LabelMap

{'daily_icon': {'clear-day': 0,
  'fog': 1,
  'missing': nan,
  'partly-cloudy-day': 3,
  'partly-cloudy-night': 4,
  'rain': 5,
  'snow': 6,
  'wind': 7},
 'daily_precipType': {'missing': nan, 'rain': 1, 'snow': 2},
 'daily_summary': {'Breezy and partly cloudy in the morning.': 0,
  'Breezy and partly cloudy overnight.': 1,
  'Breezy and partly cloudy starting in the afternoon, continuing until evening.': 2,
  'Breezy and partly cloudy until evening.': 3,
  'Breezy in the afternoon and partly cloudy overnight.': 4,
  'Breezy in the afternoon and partly cloudy starting in the afternoon, continuing until evening.': 5,
  'Breezy in the afternoon.': 6,
  'Breezy in the morning and humid throughout the day.': 7,
  'Breezy in the morning and light rain in the evening.': 8,
  'Breezy in the morning and partly cloudy starting in the afternoon, continuing until evening.': 9,
  'Breezy in the morning and partly cloudy starting in the evening.': 10,
  'Breezy in the morning and partly cloudy until afternoon.': 11,
  'Breezy in the morning and partly cloudy until evening.': 12,
  'Breezy in the morning and rain in the afternoon and evening.': 13,
  'Breezy in the morning and rain in the evening and overnight.': 14,
  'Breezy in the morning.': 15,
  'Breezy overnight.': 16,
  'Breezy starting in the afternoon, continuing until evening, and rain in the evening.': 17,
  'Breezy starting in the afternoon, continuing until evening.': 18,
  'Breezy starting in the afternoon.': 19,
  'Breezy starting in the evening and partly cloudy overnight.': 20,
  'Breezy starting in the evening.': 21,
  'Breezy throughout the day and light rain overnight.': 22,
  'Breezy throughout the day and partly cloudy starting in the evening.': 23,
  'Breezy throughout the day and rain overnight.': 24,
  'Breezy throughout the day and rain starting in the afternoon.': 25,
  'Breezy throughout the day.': 26,
  'Breezy until afternoon and light rain in the evening.': 27,
  'Breezy until afternoon and light rain overnight.': 28,
  'Breezy until afternoon and mostly cloudy overnight.': 29,
  'Breezy until afternoon and partly cloudy in the afternoon.': 30,
  'Breezy until afternoon and partly cloudy in the morning.': 31,
  'Breezy until afternoon and partly cloudy starting in the afternoon, continuing until evening.': 32,
  'Breezy until afternoon and rain starting in the evening.': 33,
  'Breezy until afternoon.': 34,
  'Breezy until evening and light rain in the afternoon.': 35,
  'Breezy until evening and light rain overnight.': 36,
  'Breezy until evening.': 37,
  'Clear throughout the day.': 38,
  'Foggy in the evening.': 39,
  'Foggy in the morning and breezy overnight.': 40,
  'Foggy in the morning and breezy starting in the afternoon, continuing until evening.': 41,
  'Foggy in the morning.': 42,
  'Foggy overnight.': 43,
  'Foggy starting in the evening and breezy overnight.': 44,
  'Foggy starting in the evening.': 45,
  'Heavy rain in the morning.': 46,
  'Heavy rain starting in the evening.': 47,
  'Heavy snow (1–2 in.) in the afternoon.': 48,
  'Humid throughout the day and breezy in the evening.': 49,
  'Humid throughout the day and breezy starting in the afternoon, continuing until evening.': 50,
  'Humid throughout the day and partly cloudy starting in the afternoon, continuing until evening.': 51,
  'Humid throughout the day.': 52,
  'Light rain in the afternoon and breezy in the evening.': 53,
  'Light rain in the afternoon and breezy overnight.': 54,
  'Light rain in the evening.': 55,
  'Light rain in the morning and breezy starting in the evening.': 56,
  'Light rain in the morning.': 57,
  'Light rain overnight.': 58,
  'Light rain starting in the afternoon, continuing until evening.': 59,
  'Light rain starting in the evening.': 60,
  'Light rain until afternoon, starting again overnight, and breezy in the afternoon.': 61,
  'Light snow (< 1 in.) in the evening.': 62,
  'Mixed precipitation until evening, starting again overnight.': 63,
  'Mostly cloudy in the evening and breezy overnight.': 64,
  'Mostly cloudy in the evening.': 65,
  'Mostly cloudy in the morning.': 66,
  'Mostly cloudy overnight.': 67,
  'Mostly cloudy starting in the evening.': 68,
  'Mostly cloudy until afternoon.': 69,
  'Partly cloudy in the afternoon.': 70,
  'Partly cloudy in the evening.': 71,
  'Partly cloudy in the morning and breezy starting in the afternoon, continuing until evening.': 72,
  'Partly cloudy in the morning and breezy until afternoon.': 73,
  'Partly cloudy in the morning.': 74,
  'Partly cloudy overnight.': 75,
  'Partly cloudy starting in the afternoon and breezy overnight.': 76,
  'Partly cloudy starting in the afternoon, continuing until evening, and breezy overnight.': 77,
  'Partly cloudy starting in the afternoon, continuing until evening, and breezy starting in the afternoon.': 78,
  'Partly cloudy starting in the afternoon, continuing until evening.': 79,
  'Partly cloudy starting in the evening.': 80,
  'Partly cloudy throughout the day and breezy in the morning.': 81,
  'Partly cloudy throughout the day and breezy overnight.': 82,
  'Partly cloudy throughout the day and breezy starting in the afternoon, continuing until evening.': 83,
  'Partly cloudy until afternoon and breezy overnight.': 84,
  'Partly cloudy until afternoon and breezy starting in the afternoon.': 85,
  'Partly cloudy until afternoon.': 86,
  'Partly cloudy until evening and breezy starting in the afternoon, continuing until evening.': 87,
  'Partly cloudy until evening and humid throughout the day.': 88,
  'Partly cloudy until evening.': 89,
  'Rain and breezy in the morning.': 90,
  'Rain and breezy overnight.': 91,
  'Rain and breezy starting in the evening.': 92,
  'Rain and breezy until afternoon.': 93,
  'Rain in the afternoon and evening.': 94,
  'Rain in the afternoon and overnight and breezy starting in the afternoon, continuing until evening.': 95,
  'Rain in the afternoon.': 96,
  'Rain in the evening and breezy overnight.': 97,
  'Rain in the evening.': 98,
  'Rain in the morning and breezy overnight.': 99,
  'Rain in the morning and evening and windy throughout the day.': 100,
  'Rain in the morning and overnight and breezy starting in the afternoon, continuing until evening.': 101,
  'Rain in the morning and overnight and breezy until afternoon.': 102,
  'Rain in the morning.': 103,
  'Rain starting in the afternoon, continuing until evening.': 104,
  'Rain starting in the evening.': 105,
  'Rain until afternoon and breezy overnight.': 106,
  'Rain until afternoon, starting again in the evening.': 107,
  'Rain until afternoon.': 108,
  'Snow (1–2 in.) starting in the afternoon, continuing until evening.': 109,
  'Snow (< 1 in.) in the evening.': 110,
  'Snow (< 1 in.) in the morning.': 111,
  'Snow (< 1 in.) starting in the afternoon.': 112,
  'Windy throughout the day and light rain in the afternoon.': 113,
  'Windy until afternoon and partly cloudy starting in the afternoon, continuing until evening.': 114,
  'Windy until evening.': 115,
  'missing': nan},
 'from_station_name': {'2112 W Peterson Ave': 0,
  '63rd St Beach': 1,
  '900 W Harrison St': 2,
  'Aberdeen St & Jackson Blvd': 3,
  'Aberdeen St & Monroe St': 4,
  'Ada St & Washington Blvd': 5,
  'Adler Planetarium': 6,
  'Albany (Kedzie) Ave & Montrose Ave': 7,
  'Albany Ave & 26th St': 8,
  'Albany Ave & Bloomingdale Ave': 9,
  'Artesian Ave & Hubbard St': 10,
  'Ashland Ave & 13th St': 11,
  'Ashland Ave & 21st St': 12,
  'Ashland Ave & 50th St': 13,
  'Ashland Ave & 63rd St': 14,
  'Ashland Ave & 66th St': 15,
  'Ashland Ave & 69th St': 16,
  'Ashland Ave & Archer Ave': 17,
  'Ashland Ave & Augusta Blvd': 18,
  'Ashland Ave & Belle Plaine Ave': 19,
  'Ashland Ave & Blackhawk St': 20,
  'Ashland Ave & Chicago Ave': 21,
  'Ashland Ave & Division St': 22,
  'Ashland Ave & Garfield Blvd': 23,
  'Ashland Ave & Grace St': 24,
  'Ashland Ave & Grand Ave': 25,
  'Ashland Ave & Harrison St': 26,
  'Ashland Ave & Lake St': 27,
  'Ashland Ave & McDowell Ave': 28,
  'Ashland Ave & Pershing Rd': 29,
  'Ashland Ave & Wellington Ave': 30,
  'Ashland Ave & Wrightwood Ave': 31,
  'Austin Blvd & Chicago Ave': 32,
  'Austin Blvd & Lake St': 33,
  'Avers Ave & Belmont Ave': 34,
  'Avondale Ave & Irving Park Rd': 35,
  'Bennett Ave & 79th St': 36,
  'Benson Ave & Church St': 37,
  'Bissell St & Armitage Ave': 38,
  'Blackstone Ave & Hyde Park Blvd': 39,
  'Blue Island Ave & 18th St': 40,
  'Bosworth Ave & Howard St': 41,
  'Broadway & Argyle St': 42,
  'Broadway & Barry Ave': 43,
  'Broadway & Belmont Ave': 44,
  'Broadway & Berwyn Ave': 45,
  'Broadway & Cornelia Ave': 46,
  'Broadway & Granville Ave': 47,
  'Broadway & Ridge Ave': 48,
  'Broadway & Sheridan Rd': 49,
  'Broadway & Thorndale Ave': 50,
  'Broadway & Waveland Ave': 51,
  'Broadway & Wilson Ave': 52,
  'Buckingham Fountain': 53,
  'Budlong Woods Library': 54,
  'Burnham Harbor': 55,
  'California Ave & 21st St': 56,
  'California Ave & 23rd Pl': 57,
  'California Ave & 26th St': 58,
  'California Ave & Altgeld St': 59,
  'California Ave & Byron St': 60,
  'California Ave & Cortez St': 61,
  'California Ave & Division St': 62,
  'California Ave & Fletcher St': 63,
  'California Ave & Francis Pl': 64,
  'California Ave & Lake St': 65,
  'California Ave & Milwaukee Ave': 66,
  'California Ave & Montrose Ave': 67,
  'California Ave & North Ave': 68,
  'Calumet Ave & 18th St': 69,
  'Calumet Ave & 21st St': 70,
  'Calumet Ave & 33rd St': 71,
  'Calumet Ave & 35th St': 72,
  'Calumet Ave & 51st St': 73,
  'Calumet Ave & 71st St': 74,
  'Campbell Ave & Fullerton Ave': 75,
  'Campbell Ave & Montrose Ave': 76,
  'Campbell Ave & North Ave': 77,
  'Canal St & Adams St': 78,
  'Canal St & Harrison St': 79,
  'Canal St & Jackson Blvd': 80,
  'Canal St & Madison St': 81,
  'Canal St & Monroe St (*)': 82,
  'Canal St & Taylor St': 83,
  'Cannon Dr & Fullerton Ave': 84,
  'Carpenter St & Huron St': 85,
  'Central Ave & Chicago Ave': 86,
  'Central Ave & Harrison St': 87,
  'Central Ave & Lake St': 88,
  'Central Ave & Madison St': 89,
  'Central Park Ave & Elbridge Ave': 90,
  'Central Park Ave & North Ave': 91,
  'Central Park Ave & Ogden Ave': 92,
  'Central Park Blvd & 5th Ave': 93,
  'Central St & Girard Ave': 94,
  'Central St Metra': 95,
  'Chappel Ave & 79th St': 96,
  'Chicago Ave & Sheridan Rd': 97,
  'Chicago Ave & Washington St': 98,
  'Christiana Ave & Lawrence Ave': 99,
  'Cicero Ave & Flournoy St': 100,
  'Cicero Ave & Lake St': 101,
  'Cicero Ave & Quincy St': 102,
  'Cityfront Plaza Dr & Pioneer Ct': 103,
  'Claremont Ave & Hirsch St': 104,
  'Clarendon Ave & Gordon Ter': 105,
  'Clarendon Ave & Junior Ter': 106,
  'Clarendon Ave & Leland Ave': 107,
  'Clark St & 9th St (AMLI)': 108,
  'Clark St & Armitage Ave': 109,
  'Clark St & Berwyn Ave': 110,
  'Clark St & Bryn Mawr Ave': 111,
  'Clark St & Chicago Ave': 112,
  'Clark St & Columbia Ave': 113,
  'Clark St & Congress Pkwy': 114,
  'Clark St & Elm St': 115,
  'Clark St & Elmdale Ave': 116,
  'Clark St & Grace St': 117,
  'Clark St & Jarvis Ave': 118,
  'Clark St & Lake St': 119,
  'Clark St & Leland Ave': 120,
  'Clark St & Lincoln Ave': 121,
  'Clark St & Lunt Ave': 122,
  'Clark St & Montrose Ave': 123,
  'Clark St & North Ave': 124,
  'Clark St & Randolph St': 125,
  'Clark St & Schiller St': 126,
  'Clark St & Schreiber Ave': 127,
  'Clark St & Touhy Ave': 128,
  'Clark St & Wellington Ave': 129,
  'Clark St & Winnemac Ave': 130,
  'Clark St & Wrightwood Ave': 131,
  'Clifton Ave & Armitage Ave': 132,
  'Clifton Ave & Lawrence Ave': 133,
  'Clinton St & 18th St': 134,
  'Clinton St & Jackson Blvd': 135,
  'Clinton St & Lake St': 136,
  'Clinton St & Madison St': 137,
  'Clinton St & Polk St (*)': 138,
  'Clinton St & Roosevelt Rd': 139,
  'Clinton St & Tilden St': 140,
  'Clinton St & Washington Blvd': 141,
  'Clybourn Ave & Division St': 142,
  'Columbus Dr & Randolph St': 143,
  'Commercial Ave & 83rd St': 144,
  'Conservatory Dr & Lake St': 145,
  'Cornell Ave & Hyde Park Blvd': 146,
  'Cottage Grove Ave & 43rd St': 147,
  'Cottage Grove Ave & 47th St': 148,
  'Cottage Grove Ave & 51st St': 149,
  'Cottage Grove Ave & 63rd St': 150,
  'Cottage Grove Ave & 67th St': 151,
  'Cottage Grove Ave & 71st St': 152,
  'Cottage Grove Ave & 78th St': 153,
  'Cottage Grove Ave & 83rd St': 154,
  'Cottage Grove Ave & Oakwood Blvd': 155,
  'Cuyler Ave & Augusta St': 156,
  'Daley Center Plaza': 157,
  'Damen Ave & 51st St': 158,
  'Damen Ave & 59th St': 159,
  'Damen Ave & 61st St': 160,
  'Damen Ave & Augusta Blvd': 161,
  'Damen Ave & Charleston St': 162,
  'Damen Ave & Chicago Ave': 163,
  'Damen Ave & Clybourn Ave': 164,
  'Damen Ave & Cortland St': 165,
  'Damen Ave & Coulter St': 166,
  'Damen Ave & Cullerton St': 167,
  'Damen Ave & Division St': 168,
  'Damen Ave & Foster Ave': 169,
  'Damen Ave & Garfield Blvd': 170,
  'Damen Ave & Grand Ave': 171,
  'Damen Ave & Leland Ave': 172,
  'Damen Ave & Madison St': 173,
  'Damen Ave & Melrose Ave': 174,
  'Damen Ave & Pershing Rd': 175,
  'Damen Ave & Pierce Ave': 176,
  'Damen Ave & Sunnyside Ave': 177,
  'Damen Ave & Wellington Ave': 178,
  'Dayton St & North Ave': 179,
  'Dearborn Pkwy & Delaware Pl': 180,
  'Dearborn St & Adams St': 181,
  'Dearborn St & Erie St': 182,
  'Dearborn St & Monroe St': 183,
  'Desplaines St & Jackson Blvd': 184,
  'Desplaines St & Kinzie St': 185,
  'Desplaines St & Randolph St': 186,
  'Dodge Ave & Church St': 187,
  'Dorchester Ave & 49th St': 188,
  'Dorchester Ave & 63rd St': 189,
  'Drake Ave & Addison St': 190,
  'Drake Ave & Fullerton Ave': 191,
  'Drake Ave & Montrose Ave': 192,
  'DuSable Museum': 193,
  'Dusable Harbor': 194,
  'East Ave & Garfield St': 195,
  'East Ave & Madison St': 196,
  'Eastlake Ter & Rogers Ave': 197,
  'Eberhart Ave & 61st St': 198,
  'Eckhart Park': 199,
  'Elizabeth St & 47th St': 200,
  'Ellis Ave & 53rd St': 201,
  'Ellis Ave & 55th St': 202,
  'Ellis Ave & 58th St': 203,
  'Ellis Ave & 60th St': 204,
  'Ellis Ave & 83rd St': 205,
  'Elmwood Ave & Austin St': 206,
  'Elston Ave & Wabansia Ave': 207,
  'Emerald Ave & 28th St': 208,
  'Emerald Ave & 31st St': 209,
  'Evans Ave & 75th St': 210,
  'Exchange Ave & 79th St': 211,
  'Fairbanks Ct & Grand Ave': 212,
  'Fairfield Ave & Roosevelt Rd': 213,
  'Federal St & Polk St': 214,
  'Field Blvd & South Water St': 215,
  'Field Museum': 216,
  'Financial Pl & Congress Pkwy': 217,
  'Forest Ave & Chicago Ave': 218,
  'Forest Ave & Lake St': 219,
  'Fort Dearborn Dr & 31st St': 220,
  'Francisco Ave & Foster Ave': 221,
  'Franklin St & Chicago Ave': 222,
  'Franklin St & Jackson Blvd': 223,
  'Franklin St & Lake St': 224,
  'Franklin St & Monroe St': 225,
  'Franklin St & Quincy St': 226,
  'Glenwood Ave & Morse Ave': 227,
  'Glenwood Ave & Touhy Ave': 228,
  'Green St & Madison St': 229,
  'Green St & Randolph St': 230,
  'Greenview Ave & Diversey Pkwy': 231,
  'Greenview Ave & Fullerton Ave': 232,
  'Greenview Ave & Jarvis Ave': 233,
  'Greenwood Ave & 47th St': 234,
  'Greenwood Ave & 79th St': 235,
  'Halsted St & 18th St': 236,
  'Halsted St & 21st St': 237,
  'Halsted St & 35th St (*)': 238,
  'Halsted St & 37th St': 239,
  'Halsted St & 47th Pl': 240,
  'Halsted St & 51st St': 241,
  'Halsted St & 56th St': 242,
  'Halsted St & 59th St': 243,
  'Halsted St & 63rd St': 244,
  'Halsted St & 69th St': 245,
  'Halsted St & Archer Ave': 246,
  'Halsted St & Blackhawk St (*)': 247,
  'Halsted St & Dickens Ave': 248,
  'Halsted St & Diversey Pkwy': 249,
  'Halsted St & Maxwell St': 250,
  'Halsted St & North Branch St': 251,
  'Halsted St & Polk St': 252,
  'Halsted St & Roosevelt Rd': 253,
  'Halsted St & Roscoe St': 254,
  'Halsted St & Willow St': 255,
  'Halsted St & Wrightwood Ave': 256,
  'Hampden Ct & Diversey Pkwy': 257,
  'Harper Ave & 59th St': 258,
  'Hermitage Ave & Polk St': 259,
  'Hoyne Ave & 47th St': 260,
  'Humboldt Blvd & Armitage Ave': 261,
  'Humboldt Dr & Luis Munoz Marin Dr': 262,
  'Humphrey Ave & Ontario St': 263,
  'Indiana Ave & 26th St': 264,
  'Indiana Ave & 31st St': 265,
  'Indiana Ave & 40th St': 266,
  'Indiana Ave & Roosevelt Rd': 267,
  'Jefferson St & Monroe St': 268,
  'Jeffery Blvd & 67th St': 269,
  'Jeffery Blvd & 71st St': 270,
  'Jeffery Blvd & 76th St': 271,
  'Kedzie Ave & 21st St': 272,
  'Kedzie Ave & 24th St': 273,
  'Kedzie Ave & Bryn Mawr Ave': 274,
  'Kedzie Ave & Chicago Ave': 275,
  'Kedzie Ave & Foster Ave': 276,
  'Kedzie Ave & Harrison St': 277,
  'Kedzie Ave & Lake St': 278,
  'Kedzie Ave & Leland Ave': 279,
  'Kedzie Ave & Milwaukee Ave': 280,
  'Kedzie Ave & Palmer Ct': 281,
  'Kedzie Ave & Roosevelt Rd': 282,
  'Kenton Ave & Madison St': 283,
  'Keystone Ave & Fullerton Ave': 284,
  'Keystone Ave & Montrose Ave': 285,
  'Kilbourn Ave & Irving Park Rd': 286,
  'Kilbourn Ave & Milwaukee Ave': 287,
  'Kimball Ave & Belmont Ave': 288,
  'Kimbark Ave & 53rd St': 289,
  'Kingsbury St & Erie St': 290,
  'Kingsbury St & Kinzie St': 291,
  'Knox Ave & Montrose Ave': 292,
  'Kosciuszko Park': 293,
  'Kostner Ave & Adams St': 294,
  'Kostner Ave & Lake St': 295,
  'LaSalle St & Adams St': 296,
  'LaSalle St & Illinois St': 297,
  'LaSalle St & Jackson Blvd': 298,
  'LaSalle St & Washington St': 299,
  'Lake Park Ave & 35th St': 300,
  'Lake Park Ave & 47th St': 301,
  'Lake Park Ave & 53rd St': 302,
  'Lake Park Ave & 56th St': 303,
  'Lake Shore Dr & Belmont Ave': 304,
  'Lake Shore Dr & Diversey Pkwy': 305,
  'Lake Shore Dr & Monroe St': 306,
  'Lake Shore Dr & North Blvd': 307,
  'Lake Shore Dr & Ohio St': 308,
  'Lake Shore Dr & Wellington Ave': 309,
  'Lakefront Trail & Bryn Mawr Ave': 310,
  'Lakeview Ave & Fullerton Pkwy': 311,
  'Laramie Ave & Gladys Ave': 312,
  'Laramie Ave & Kinzie St': 313,
  'Laramie Ave & Madison St': 314,
  'Larrabee St & Armitage Ave': 315,
  'Larrabee St & Division St': 316,
  'Larrabee St & Kingsbury St': 317,
  'Larrabee St & Menomonee St': 318,
  'Larrabee St & North Ave': 319,
  'Larrabee St & Oak St': 320,
  'Larrabee St & Webster Ave': 321,
  'Lawndale Ave & 23rd St': 322,
  'Leavitt St & Addison St': 323,
  'Leavitt St & Archer Ave': 324,
  'Leavitt St & Armitage Ave': 325,
  'Leavitt St & Lawrence Ave': 326,
  'Leavitt St & North Ave': 327,
  'Lincoln Ave & Addison St': 328,
  'Lincoln Ave & Belle Plaine Ave': 329,
  'Lincoln Ave & Belmont Ave': 330,
  'Lincoln Ave & Diversey Pkwy': 331,
  'Lincoln Ave & Fullerton Ave': 332,
  'Lincoln Ave & Leavitt St': 333,
  'Lincoln Ave & Roscoe St': 334,
  'Lincoln Ave & Waveland Ave': 335,
  'Lincoln Ave & Winona St': 336,
  'Logan Blvd & Elston Ave': 337,
  'Lombard Ave & Garfield St': 338,
  'Lombard Ave & Madison St': 339,
  'Loomis St & Archer Ave': 340,
  'Loomis St & Jackson Blvd': 341,
  'Loomis St & Lexington St': 342,
  'Loomis St & Taylor St (*)': 343,
  'MLK Jr Dr & 29th St': 344,
  'MLK Jr Dr & 47th St': 345,
  'MLK Jr Dr & 56th St (*)': 346,
  'MLK Jr Dr & 63rd St': 347,
  'MLK Jr Dr & 83rd St': 348,
  'MLK Jr Dr & Oakwood Blvd': 349,
  'Manor Ave & Leland Ave': 350,
  'Maplewood Ave & Peterson Ave': 351,
  'Marine Dr & Ainslie St': 352,
  'Marion St & South Blvd': 353,
  'Marshfield Ave & 44th St': 354,
  'Marshfield Ave & 59th St': 355,
  'Marshfield Ave & Cortland St': 356,
  'Mason Ave & Madison St': 357,
  'May St & 69th St': 358,
  'May St & Cullerton St': 359,
  'May St & Fulton St': 360,
  'May St & Randolph St': 361,
  'May St & Taylor St': 362,
  'McClurg Ct & Erie St': 363,
  'McClurg Ct & Illinois St': 364,
  'McCormick Place': 365,
  'Michigan Ave & 14th St': 366,
  'Michigan Ave & 18th St': 367,
  'Michigan Ave & 8th St': 368,
  'Michigan Ave & Balbo Ave': 369,
  'Michigan Ave & Congress Pkwy': 370,
  'Michigan Ave & Jackson Blvd': 371,
  'Michigan Ave & Lake St': 372,
  'Michigan Ave & Madison St': 373,
  'Michigan Ave & Oak St': 374,
  'Michigan Ave & Pearson St': 375,
  'Michigan Ave & Washington St': 376,
  'Mies van der Rohe Way & Chestnut St': 377,

In [75]:
# Save Label Mapping
np.save('./input/LabelMapping.npy', LabelMap) 

# Load Label Mapping
# LabelMap = np.load('LabelMapping.npy').item()

## Calculate Hour Info from daily_temperature[High/Low/Max/Min]

In [76]:
[x for x in df.columns.tolist() if 'Time' in x]

['daily_apparentTemperatureHighTime',
 'daily_apparentTemperatureLowTime',
 'daily_apparentTemperatureMaxTime',
 'daily_apparentTemperatureMinTime',
 'daily_precipIntensityMaxTime',
 'daily_sunriseTime',
 'daily_sunsetTime',
 'daily_temperatureHighTime',
 'daily_temperatureLowTime',
 'daily_temperatureMaxTime',
 'daily_temperatureMinTime']

In [77]:
# Define time difference between CST and UTC
time_delta = datetime.timedelta(hours=-5)

In [78]:
%%time
for i in [x for x in df.columns.tolist() if 'Time' in x]:
    notNA_index = df[i].notna()
    df[i.replace('Time', 'Hour')] = np.nan
    df[i.replace('Time', 'Hour')][notNA_index] = df[i][notNA_index].apply(lambda x: (pytz.UTC.localize(datetime.datetime.fromtimestamp(x)) + time_delta).hour)

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

CPU times: user 1min 39s, sys: 36.4 s, total: 2min 16s
Wall time: 2min 16s

In [79]:
# delete time columns
df.drop([x for x in df.columns.tolist() if 'Time' in x], axis=1, inplace=True)
df.head()

,from_station_name,usertype,gender,birthyear,start_year,start_month,start_day,start_hour,start_weekday,latitude_x,...,daily_apparentTemperatureLowHour,daily_apparentTemperatureMaxHour,daily_apparentTemperatureMinHour,daily_precipIntensityMaxHour,daily_sunriseHour,daily_sunsetHour,daily_temperatureHighHour,daily_temperatureLowHour,daily_temperatureMaxHour,daily_temperatureMinHour
0,Damen Ave & Pierce Ave,Subscriber,Male,1988.0,2016,9,30,23,4,41.909396,...,4.0,10.0,22.0,6.0,2.0,14.0,10.0,4.0,10.0,22.0
1,Ashland Ave & Harrison St,Subscriber,Female,1990.0,2016,9,30,23,4,41.874291,...,4.0,10.0,22.0,6.0,2.0,14.0,10.0,4.0,10.0,22.0
2,Sheffield Ave & Wrightwood Ave,Customer,missing,NaN,2016,9,30,23,4,41.928712,...,4.0,10.0,22.0,6.0,2.0,14.0,10.0,4.0,10.0,22.0
3,Washtenaw Ave & Lawrence Ave,Subscriber,Female,1988.0,2016,9,30,23,4,41.968711,...,4.0,10.0,22.0,6.0,2.0,14.0,10.0,4.0,10.0,22.0
4,Sheffield Ave & Wrightwood Ave,Customer,missing,NaN,2016,9,30,23,4,41.928712,...,4.0,10.0,22.0,6.0,2.0,14.0,10.0,4.0,10.0,22.0

In [80]:
# Export the analysis ready data
df.to_csv("./input/dataReady.csv")